.bubble {
    background: var(--subbg);
    width: fit-content;
    height: 500px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:  50px 10px;
}
#bubbles {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    font-weight: 600;
    flex-wrap: wrap;

}
.content {
    margin-bottom: 15px;
}
.content h2 {
    font-size: 24px;
    margin-bottom: 15px;
    text-shadow: 5px 5px 10px #2d2e38;
}
.content p {
    font-size: 14px;
    line-height: 1.5;
    color: #afb0bb;
    max-width: 380px;
    font-weight: 300;
}

.vars {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 0px;
}
.vars div {
    background: #2d2e38;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    margin-right: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.vars div input {
    background: #1f2026;
    border: none;
    color: #afb0bb;
    font-weight: 600;
    margin-left: 10px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.vars div input[type="number"] {
    width: 60px;
}
.vars div input[type="text"] {
    width: fit-content;
    max-width: 160px;
}
.code {
    background: #2d2e38;
    border-radius: 10px;
    padding: 15px 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4);
}
.output {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 0px;

}
.output div{
    background: #2d2e38;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    margin-right: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    width: fit-content;

}
.output1 {
    cursor: pointer;
    user-select: none;
}